# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

steps:
- script: |
    set -EeuoX pipefail
    cd tools
    npm install
    npm run test-ci
    cd ..
  displayName: 'Run schema tests'
- task: PublishTestResults@2
  condition: succeededOrFailed()
  inputs:
    testRunner: JUnit
    testResultsFiles: 'tools/test-results.xml'
    failTaskOnFailedTests: true