pr: none
trigger: none

schedules:
- cron: "0 8 * * *"
  branches:
    include:
    - autogenerate
  displayName: Daily autogeneration

jobs:
- job: Autogenerate
  timeoutInMinutes: 180

  pool:
    vmImage: 'Ubuntu-16.04'

  steps:
  - checkout: self
    clean: true

  - task: DownloadSecureFile@1
    name: schemasDeployKey
    inputs:
      secureFile: schemas_rsa
    displayName: "Download GitHub Deploy Key"

  - script: |
      set -Eeuxo pipefail
      mkdir ~/.ssh && mv $(schemasDeployKey.secureFilePath) ~/.ssh/schemas_rsa
      chmod 700 ~/.ssh
      chmod 600 ~/.ssh/schemas_rsa
      git config user.name "Autogenerator Pipeline"
      git config user.email "azure-resource-manager-schemas@noreply.github.com"
      git config core.sshCommand "ssh -i ~/.ssh/schemas_rsa -F /dev/null"
    displayName: Configure git

  - script: |
      set -Eeuxo pipefail
      git checkout $(Build.SourceBranchName)
      git merge --no-commit --no-ff --strategy-option=theirs origin/master
      if ! git diff-index --quiet HEAD --; then
        git commit -m "Merge remote-tracking branch 'origin/master' into $(Build.SourceBranchName)"
        git push origin $(Build.SourceBranchName)
      fi
    displayName: Integrate master branch

  - script: |
      set -Eeuxo pipefail
      cd generator
      npm install
    displayName: 'Install packages'

  - script: |
      set -Eeuxo pipefail
      cd generator
      npm run generate-all $(generateParams)
    displayName: 'Generate schemas'

  - script: |
      set -Eeuxo pipefail
      git add --all schemas
      if ! git diff-index --quiet HEAD --; then
        git commit -m "Autogenerate schemas"
        git pull --rebase
        git push origin $(Build.SourceBranchName)
      fi
    displayName: Commit and push changes
