name: CI

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2.1.2
        with:
          node-version: 10.x

      - name: Install NPM modules
        run: npm ci
        working-directory: ./tools

      - name: Run CI tests
        run: npm test
        working-directory: ./tools

      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: |
          echo "$GITHUB_CONTEXT"
          echo ${{ github.event.pull_request.title }}

  automerge:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.actor == 'AzureSDKAutomation' && startsWith(github.head_ref, 'sdkAuto/') }}
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2.1.2
        with:
          node-version: 10.x

      - name: Install NPM modules
        run: npm ci
        working-directory: ./generator

      - name: Check RP in Autogenlist
        run: |
          check_result='';
          exec=$(npm run find-basepath ${{ github.head_ref }}); 
          while read line; 
          do
            # overriding check_result until the last line is read, last line contains
            # the result to whether or not the basepath was found in autogenlist.
            check_result=$line; 
            echo $check_result;
          done <<< "$exec";
          
          echo "AUTOGENLIST_CHECK_RESULT=$check_result" >> $GITHUB_ENV;
        working-directory: ./generator

      - name: Automerge
        uses: "pascalgn/automerge-action@v0.12.0"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"          
          MERGE_LABELS: ""
